body
{
    background-color:#white;
}

html, body {
    padding:0;
    margin:0;
    height: 100%;
}
.nav_bar a
{
    color: antiquewhite;
    text-decoration: none;
    margin: 0;
}

.nav_bar
{
    text-align: right;
    margin: 0;
    padding-top: 1%;
    padding-right: 2%;
}

.nav_text 
{
   padding: 10px; 
}

h1
{
    margin:0;
    font-family:sans-serif;
    font-weight: 200;
}

#img_slogan {
    width:100%;
}

#img_text 
{
    overflow: hidden; /* will contain if #first is longer than #second */
}

#left_img 
{
    width: 50%;
    float:left; /* add this */
}

#img_src
{
width:100%;
}

#right_text 
{
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

#become_driver
{
    height:50%;
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: gray;
    border: none;
    color: white;
    padding: 30px 10%;
    text-decoration: none;
    margin: 70px 70px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}

.top_area
{
    background-image: url("img/car_fog_trees_third.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom_area
{
   
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}




